{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    ],
    "stage-1",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "styled-components",
    "react-hot-loader/babel"
  ]
}
